
*.pyc

*.iml

.idea/.name

*.egg-info*

*build*

*.whl

*.gz

.idea/encodings.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml
