*.pyc

*.iml

*.egg-info*

*build*

*.whl

*.gz

.idea/*

.eggs/*

alphapy/examples/Trading System/.ipynb_checkpoints/A Trading System-checkpoint.ipynb
*.pkl
*.png
*.code-workspace
alphapy/.vscode/launch.json
alphapy/.vscode/settings.json
*.log
docs/.vscode/settings.json
